body {background-color:hwb(0 18% 82%);}

#timedate {
  font: small-caps lighter 20px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:right;
  width: 80%;
  margin: 40px auto;
  color:#fff;
  padding: 20px;
}

#menutext{
  height: 70px;
  width: 60%;
  text-align:center
}
@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}


body{
	background-color:#de0000;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}
.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
  text-align: center;
}

#main-header{
	background-color:rgb(255, 255, 255);
	color:rgb(39, 0, 157);
	text-align: center;
	font-size: 25px;
	background-image:src("C:\Users\Gebruiker\OneDrive\Documenten\Saxion\Minor\MSI2A Smart Connection\smart industry header.jpg");
	background-position:center right;
}

#showcase{
	background-image:src("C:\Users\Gebruiker\OneDrive\Documenten\Saxion\Minor\MSI2A Smart Connection\smart industry header.jpg");
	background-position:center right;
	min-height:100px;
	margin-bottom:30px;
	text-align: center;
	color:red;
	font-size: 20px;
}

#showcase h1{
	color:rgb(39, 0, 157);
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

